*{
  margin:0;
  padding:0;
  font-family:verdana;
}
nav {
  opacity: 0.7;
}

body{
margin-top:20px;
}
.bg-light-gray {
background-color: #f7f7f7;
}



.card-title {
  text-align: center;
}



.table-bordered thead td, .table-bordered thead th {
border-bottom-width: 2px;
}
.table thead th {
vertical-align: bottom;
border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
background-color: #02c2c7
}

.bg-orange {
background-color: #e95601
}

.bg-green {
background-color: #5bbd2a
}

.bg-yellow {
background-color: #f0d001
}

.bg-pink {
background-color: #ff48a4
}

.bg-purple {
background-color: #9d60ff
}

.bg-lightred {
background-color: #ff5722
}

.padding-15px-lr {
padding-left: 15px;
padding-right: 15px;
}
.padding-5px-tb {
padding-top: 5px;
padding-bottom: 5px;
}
.margin-10px-bottom {
margin-bottom: 10px;
}
.border-radius-5 {
border-radius: 5px;
}

.margin-10px-top {
margin-top: 10px;
}
.font-size14 {
font-size: 14px;
}

.text-light-gray {
color: #d6d5d5;
}
.font-size13 {
font-size: 13px;
}

.table-bordered td, .table-bordered th {
border: 1px solid #dee2e6;
}
.table td, .table th {
padding: .75rem;
vertical-align: top;
border-top: 1px solid #dee2e6;
}



/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container {
margin: auto;
}
.footer{
line-height: 1.5;
font-family: 'Poppins', sans-serif;
}
.footer ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer h4 {
font-size: 18px;
color: #00000077;
text-transform: capitalize;
margin-bottom: 20px;
font-weight: 500;
position: relative;
}

.footer ul li:not(:last-child) {
margin-bottom: 10px;
}

.footer ul li a:hover{
color: #ffffff;
padding-left: 8px;
}

.footer .social-links a {
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
text-decoration: none;
}

.footer .social-links a:hover {
color: #24262b;
background-color: #ffffff;
}
.footer-contacts h4 {
font-size: 18px;
color: #00000077;
text-transform: capitalize;
margin-bottom: 20px;
font-weight: 500;
position: relative;
}

.footer-contacts p {
font-size: 16px;
text-decoration: none;
font-weight: 300;
color: #ffffff;
display: block;

}
.footer-contacts a {
text-decoration: none;
color: #bbbbbb;
}
.footer-contacts a:hover {
color: #ffffff;
transition: all 0.3s ease;
padding-left: 8px;
}

.footer-copy {
color: white;
font-size: 12px;
padding-top: 4px;
}
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px) {
.footer-col{
  width: 100%;
}
}

@keyframes transitionIn {
from {
  opacity: 0;
  transform:rotateX(-10deg);
}

to {
  opacity: 1;
  transform: rotateX(0);
}

}
